@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}


/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
	background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(6){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

/*banner start*/
.banner{
	margin-top: 10px;
	background-color: #f5ecdb;
	height: 420px;
	overflow: hidden;
}
.banner .banner_img{
	width: 1190px;
	height: 420px;
	position: relative;
	overflow: hidden;
}
.banner .banner_img>ul{
	position: absolute;
	top: 0;
	left: 0;
}
.banner .banner_img>ul>li{
	width: 1190px;
	height: 420px;
	float: left;
}
.banner .banner_img>ul>li>a>img{
	width: 1190px;
	height:420px
}
.banner_img .points{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: -51px;
}
.banner_img .points>span{
	display: inline-block;
	width: 290px;
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	margin-right: 2px;
	text-align: center;
	line-height: 35px;	
}
.banner_img .points{
	margin-left: 157px;
}
.banner_img .points>span>a{
	color: #fff;
}
.banner_img .points>span.current{
	background-color: rgba(0,230,255,0.5) ;
}

.main{
	margin-top: 10px;
	background:url(../img/ico/salebg.jpg) repeat top left;
	padding-bottom:35px ;
	padding-top: 26px;
	height: 500px;
}

/*推荐  start*/
.tuijan .tuoba{
	width: 497px;
	height: 286px;
	background-image: url(../img/change/change1_03.jpg);
	margin-right: 14px;
}
 .tuoba>h4{
 	color: #fff;
 	font-size: 16px;
 	margin: 38px 0 0 52px;
 	width: 140px;
 	text-align: center;
 	line-height: 26px;
 }
.tuoba>p{
 	margin-left: 52px;
  	color: #666;
  	font-size: 12px;
  	line-height: 25px;
  }
 .tuoba>p:first-of-type{
 	margin-top: 20px;
 }
.tuoba>span{
	display: block;
	margin-top: 10px;
	margin-left: 52px;
	color: #999;
	font-size: 12px;
}
.tuoba>span>i{
	font-style: normal;
	color: #FF7700;
}
.tuoba>strong{
	display: block;
	margin-top: 15px;
	margin-left: 52px;
}
.tuoba>strong>a{
	color: #00a8ff;
}
.tuoba>strong>a>b{
	display: inline-block;
	background: url(../img/ico/whole.png) no-repeat -242px 0px;
	width: 6px;
	height: 8px;
	margin-left: 5px;
}
.tuijan .family{
	width: 380px;
}
.tuijan .family .home{
	width: inherit;
	height: 130px;
	background-image: url(../img/change/change2_05.jpg);
}
.home>h4{
	font-size: 24px;
	text-align: right;
	padding-top: 20px;
	padding-right: 30px;
	color: #fff;
}
.home>h4>span{
	font-size: 24px;
	color: #FF7700;
}
.home>dl{
	width: 190px;
	margin-left: 180px;
	margin-top: 10px;
	color: #fff;	
}
.home>dl>dt{
	float: left;
	width: 30px;
	background-color: #FF9C00;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
.home>dl>dt{
	float: left;
	width: 25px;
	height: 35px;
	background-color: #FF9C00;
	line-height: 18px;
	padding: 2px 2px;
	font-size: 12px;
	color: #fff;

}
.home>dl>dd{
	float: right;
	width: 150px;
	font-size: 12px;
	line-height: 16px;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
}
.home>p{
	text-align: right;
	padding-right:30px ;
	margin-top: 8px;
}
.home>p>span{
	display: inline-block;
	width: 50px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #FF9C00;
	text-align: center;
	margin-right: 5px;
	border-radius: 15px;
	background-color: #FF9C00;
	box-shadow: 2px 2px 5px #1a4f7c;
	
}
.home>p>span:last-child{
	margin-right: 0;
}
.home>p>span>a{
	font-size: 12px;
	color: #fff;		
}
.tuijan .family .clean{
	width: 360px;
	height: 130px;
	background-image: url(../img/change/change2_08.jpg);
	margin-top: 20px;
	padding-right: 20px;
}
.clean .cleaninner{
	width: 180px;
}
.cleaninner>h4{
	margin-top: 30px;
	font-size: 24px;
	color: #f5856b;
}
.cleaninner>p{
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin-top: 10px;
}
.tuijan .movies{
	width: 280px;
	height: 280px;
	background-image: url(../img/change/change4_03.jpg);
	text-align: center;
}
.movies>h4{
	font-size: 24px;
	font-weight: bolder;
	color: #fff;
	text-align: center;
	margin-top: 16px;
}
.movies>input{
	text-align: center;
	border: 1px solid #fff;
	border-radius: 5%;
	width: 92px;
	height: 30px;
	line-height: 30px;
	background: none;
	color: #fff;
	margin-top: 10px;
	font-size: 16px;	
}
