@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}


/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
	background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(6){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

/*banner start*/
.banner{
	margin-top: 10px;
	background-color: #f5ecdb;
	height: 420px;
	overflow: hidden;
}
.banner .banner_img{
	width: 1190px;
	height: 420px;
	position: relative;
	overflow: hidden;
}
.banner .banner_img>ul{
	position: absolute;
	top: 0;
	left: 0;
}
.banner .banner_img>ul>li{
	width: 1190px;
	height: 420px;
	float: left;
}
.banner .banner_img>ul>li>a>img{
	width: 1190px;
	height:420px
}
.banner_img .points{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: -51px;
}
.banner_img .points>span{
	display: inline-block;
	width: 290px;
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	margin-right: 2px;
	text-align: center;
	line-height: 35px;	
}
.banner_img .points{
	margin-left: 157px;
}
.banner_img .points>span>a{
	color: #fff;
}
.banner_img .points>span.current{
	background-color: rgba(0,230,255,0.5) ;
}

.main{
	margin-top: 10px;
	background:url(../img/ico/salebg.jpg) repeat top left;
	padding-bottom:35px ;
	padding-top: 26px;
}

/*推荐  start*/
.tuijan .tuoba{
	width: 497px;
	height: 286px;
	background-image: url(../img/change/change1_03.jpg);
	margin-right: 14px;
}
 .tuoba>h4{
 	color: #fff;
 	font-size: 16px;
 	margin: 38px 0 0 52px;
 	width: 140px;
 	text-align: center;
 	line-height: 26px;
 }
.tuoba>p{
 	margin-left: 52px;
  	color: #666;
  	font-size: 12px;
  	line-height: 25px;
  }
 .tuoba>p:first-of-type{
 	margin-top: 20px;
 }
.tuoba>span{
	display: block;
	margin-top: 10px;
	margin-left: 52px;
	color: #999;
	font-size: 12px;
}
.tuoba>span>i{
	font-style: normal;
	color: #FF7700;
}
.tuoba>strong{
	display: block;
	margin-top: 15px;
	margin-left: 52px;
}
.tuoba>strong>a{
	color: #00a8ff;
}
.tuoba>strong>a>b{
	display: inline-block;
	background: url(../img/ico/whole.png) no-repeat -242px 0px;
	width: 6px;
	height: 8px;
	margin-left: 5px;
}
.tuijan .family{
	width: 380px;
}
.tuijan .family .home{
	width: inherit;
	height: 130px;
	background-image: url(../img/change/change2_05.jpg);
}
.home>h4{
	font-size: 24px;
	text-align: right;
	padding-top: 20px;
	padding-right: 30px;
	color: #fff;
}
.home>h4>span{
	font-size: 24px;
	color: #FF7700;
}
.home>dl{
	width: 190px;
	margin-left: 180px;
	margin-top: 10px;
	color: #fff;	
}
.home>dl>dt{
	float: left;
	width: 30px;
	background-color: #FF9C00;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
.home>dl>dt{
	float: left;
	width: 25px;
	height: 35px;
	background-color: #FF9C00;
	line-height: 18px;
	padding: 2px 2px;
	font-size: 12px;
	color: #fff;

}
.home>dl>dd{
	float: right;
	width: 150px;
	font-size: 12px;
	line-height: 16px;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
}
.home>p{
	text-align: right;
	padding-right:30px ;
	margin-top: 8px;
}
.home>p>span{
	display: inline-block;
	width: 50px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #FF9C00;
	text-align: center;
	margin-right: 5px;
	border-radius: 15px;
	background-color: #FF9C00;
	box-shadow: 2px 2px 5px #1a4f7c;
	
}
.home>p>span:last-child{
	margin-right: 0;
}
.home>p>span>a{
	font-size: 12px;
	color: #fff;		
}
.tuijan .family .clean{
	width: 360px;
	height: 130px;
	background-image: url(../img/change/change2_08.jpg);
	margin-top: 20px;
	padding-right: 20px;
}
.clean .cleaninner{
	width: 180px;
}
.cleaninner>h4{
	margin-top: 30px;
	font-size: 24px;
	color: #f5856b;
}
.cleaninner>p{
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin-top: 10px;
}
.tuijan .movies{
	width: 280px;
	height: 280px;
	background-image: url(../img/change/change4_03.jpg);
	text-align: center;
}
.movies>h4{
	font-size: 24px;
	font-weight: bolder;
	color: #fff;
	text-align: center;
	margin-top: 16px;
}
.movies>input{
	text-align: center;
	border: 1px solid #fff;
	border-radius: 5%;
	width: 92px;
	height: 30px;
	line-height: 30px;
	background: none;
	color: #fff;
	margin-top: 10px;
	font-size: 16px;	
}

/*最新兑换  start*/
.update{
	background-color: #e1005a;
	margin-top: 25px;
	padding: 10px;	
}
.update>h4{
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	text-indent: 1em;
}
.update .phone{
	margin-top: 10px;
}
.phone>dl{
	width: 526px;
	background-color: #fff;
	padding: 22px 20px 20px 34px;
}
.phone>dl>dt{
	float: left;
	margin-right: 20px;
}
.phone>dl>dd,.ice>dl>dd{
	color: #666666;
	font-size: 12px;
	line-height: 18px;
	margin-top: 12px;
}
.phone>dl>dd:first-of-type,.ice>dl>dd:first-of-type{
	font-size: 20px;
	color: #e32468;
}
.phone>dl>dd>i,.ice>dl>dd>i{
	font-style: normal;
	color: #e32468;
	font-size: 28px;	
}
.phone>dl>dd>span,.ice>dl>dd>span{
	text-decoration: line-through;
}
.phone>dl>dd>a,.ice>dl>dd>a{
	font-size: 12px;
}
.phone>dl>dd>a>b,.phone>dl>dd>b,.ice>dl>dd>a>b,.ice>dl>dd>b{
	font-weight: normal;
	color: #e32468;
	font-size: 12px;
}
.phone>dl>dd>input,.ice>dl>dd>input{
	width: 211px;
	height: 35px;
	background-color: #e1005a;
	border: 1px solid #e1005a;
	border-radius: 5px;
	font-size: 16px;
	color:#fff;
	cursor: pointer;
}
.ice{
	margin-top: 10px;
}
.ice>dl{
	width: 245px;
	border: 1px solid blue;
	margin-right: 7px;
	background-color: #fff;
	padding: 18px 20px;
	height: 410px;
}
.ice>dl:last-of-type{
	margin-right: 0;
}
.ice>dl>dt{
	text-align: center;
}
.ice>dl:not(.box)>dd:first-of-type{
	margin-top: 30px;
}
.ice>dl:nth-of-type(3)>dd:first-of-type,.ice>dl:nth-of-type(4)>dd:first-of-type{
	margin-top: 50px;
}
.ice>dl>dd:last-of-type>input{
	
}

/*福利 start*/
.welfare{
	margin-top: 22px;
}
.welfare>div{
	width: 280px;	
	margin-right: 23px;	
}
.welfare>div:last-of-type{
	margin-right: 0;
}
.personal>h4{
	width: 280px;
	height: 128px;
	background-image: url(../img/ico/saletit3.png);
	background-size:280px 128px ;
}
.company>h4{
	width: 280px;
	height: 128px;
	background-image: url(../img/ico/saletit1.png);
	background-size:280px 128px ;
}
.family>h4{
	width: 280px;
	height: 128px;
	background-image: url(../img/ico/saletit2.png);
	background-size:280px 128px ;
}
.personalpro,.companypro,.familypro{
	width: 226px;
	background-color: #fff;
	box-shadow:0px 5px 10px #333;
	margin-left:7px ;
	padding: 0px 20px 10px 20px;
}
.personalpro>dl,.companypro>dl,.familypro>dl{
	padding: 15px 0;
	border-bottom: 1px dotted #999;
}
.personalpro>dl>dt,.companypro>dl>dt,.familypro>dl>dt{
	margin-bottom: 10px;
}
.personalpro>dl>dt>a>img,.companypro>dl>dt>a>img,.familypro>dl>dt>a>img{
	width: 226px;
	height: 226px;
}
.personalpro>dl>dd,.companypro>dl>dd,.familypro>dl>dd{
	line-height: 20px;
	color: #666;
	font-size: 12px;
}
.personalpro>dl>dd>a,.companypro>dl>dd>a,.familypro>dl>dd>a{
	font-size: 12px;
	color: #666;
}
.personalpro>dl>dd>a:hover,.companypro>dl>dd>a:hover,.familypro>dl>dd>a:hover{
	color: #FF7700;
}
.personalpro>dl>dd>span,.companypro>dl>dd>span,.familypro>dl>dd>span{
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	background-color: #ff7700;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	border-radius: 20px;
	margin-top: 10px;
}
.personalpro>dl>dd>b,.companypro>dl>dd>b,.familypro>dl>dd>b{
	float: right;
	margin-top: 10px;
	font-weight: normal;
	font-size: 12px;
	color: #666;	
}
.personalpro>dl>dd>b>i,.companypro>dl>dd>b>i,.familypro>dl>dd>b>i{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -218px 0px;
	width: 17px;
	height: 15px;
	margin-right: 5px;
}
.personal .more,.company .more,.family .more{
	width: 267px;
	height: 42px;
	background-color: #1D7AD9;
	margin-left: 7px;
	text-align: center;
	color: #fff;
	line-height: 42px;
	border-radius:0 0 20px 20px;
	box-shadow: 0px 5px 10px #333;
	cursor: pointer;
}
.personal .more>span,.company .more>span,.family .more>span{
	display: inline-block;
	width: 8px;
	height: 6px;
	background: url(../img/ico/whole.png) no-repeat -262px -244px;
	margin-left: 5px;
}
.change{
	width: 270px;
	margin-top: 90px;
}
.welfareList{
	background-color: #aece24;
	border-radius: 20px;
	padding: 21px 32px;
}
.welfareList>dl{
	width: 80px;
}
.welfareList>dl>dt>a{
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}
.welfareList>dl>dd{
	text-indent: 2em;
	position: relative;
	height: 20px;
}
.welfareList>dl>dd>a{
	font-size: 12px;
	color: #fff;
	line-height: 20px;
}
.welfareList>dl>dd .subnav{
	width: 107px;
	height: 233px;
	background-image: url(../img/change/change5_03.jpg);
	position: absolute;
	top: -12px;
	left: 85px;
	display: none;
}
.welfareList>dl>dd .subnav>ul{
	padding: 16px 0 10px 0;
}
.welfareList>dl>dd .subnav>ul>li{
	line-height: 23px;
}
.welfareList>dl>dd .subnav>ul>li>a{
	color: #666;
	font-size: 12px;
}
.welfareList>dl>dd:hover>a{
	color: #d30000;
}
.welfareList>dl>dd .subnav>ul>li:hover>a{
	color: #FF7700;
}
.welfareList>dl>dd:hover .subnav{
	display: block;
}
.hot{
	margin-top: 20px;
	background-color: #fff;
	border-radius: 20px;
	padding-bottom: 20px;
}
.hot>h4{
	font-size: 18px;
	color: #666;
	padding-top: 20px;
	padding-left: 23px;
	font-weight: normal;
}
.hot>ul{
	padding: 0 23px ;
	border-bottom: 1px solid #ddd;
}
.hot>ul>li{
	line-height: 20px;
	font-size: 12px;
	color: #666;
}
.hot>ul>li:first-of-type{
	margin-top: 20px;
}
.hot>ul>li>a{
	font-size: 12px;
	color: #666;
}
.hot>ul>li:hover>a{
	color: #FF7700;
}
.hot>ul>li>b{
	float: left;
	font-size: 12px;
	color: #FF7700;
	margin-top: 6px;
}
.hot>ul>li>span{
	display: inline-block;
	color: #FF7700;
	font-size: 12px;
	margin-top: 6px;	
}
.hot>ul>li>a>img{
	width: 230px;
	height: 220px;
}
.hot>ul>li:last-of-type{
	padding:10px 0 5px 0;
}
