@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 14px;
}

a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}


/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
	background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(5){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

/*公司福利banner start*/
.comban{
	margin-top: 10px;
	background-color: #f5ecdb;
	height: 420px;
}
.comban .w{
	position: relative;
}
.comban .w .comimg{
	height: 420px;
	position: relative;
}
.comban .w .comimg>ul>li{
	position: absolute;
	top: 0;
	height: 0;
}
.comban .w .comimg>ul>li>a>img{
	width: 1190px;
	height: 420px;
}
.comban .w .comimg .points{
	position: absolute;
	bottom: 14px;
	left: 50%;
	margin-left: -51px;
}
.comban .w .comimg .points>span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 14px;
}
.comban .w .comimg .points>span.current{
	background-color: #FF7700 ;
}
.comleft{
	position: absolute;
	top: 5px;
	left: 0;
	width: 175px;
	height: 380px;
	background-color: #1D7AD9;
	color: #fff;
	padding: 17px 13px;
}
.comleft .comleft_con{
	padding: 5px 0;
	border-bottom: 1px solid #086bd0;
}
.comleft .comleft_con>h4{
	font-size:16px ;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
}

.comleft .comleft_con .comlist>a{
	display: inline-block;
	color: #fff;
	margin: 6px;
	font-size: 12px;
}
.comleft .comleft_con .comlist>a:hover{
	color: yellow;
}
.comright{
	position: absolute;
	top: 0px;
	right: 0;
}
.comright>dl{
	background-color: #fff;
	padding: 10px 10px;
	margin-top: 5px;
	
}
.comright>dl>dt{
	text-align: center;
}
.comright>dl>dt>a>img{
	width: 160px;
}
.comright>dl>dd>a{
	color: #666;
	font-size: 12px;
}
/*公司福利banner end*/

/*快点抢  start*/
.w .title{
	margin-top: 15px;
}
.w .title>p{
	font-size: 16px;
	color: #b71d36;
	line-height: 24px;
}
.w .title>p>span{
	display: inline-block;
	float: left;
	width: 23px;
	height:24px;
	background: url(../img/index_img/whole.png) no-repeat -168px -236px;
	margin-right: 5px;
}
.w .onelist{
	margin-top: 10px;
}
.w .onelist .onelist_img>dl{
	width: 200px;
	margin-right: 20px;
	padding: 10px;
	border: 1px solid #ddd;
}
.w .onelist .onelist_img>dl:last-of-type{
	margin-right: 0;
}
.w .onelist .onelist_img>dl>dt{
	margin-bottom: 10px;
}
.w .onelist .onelist_img>dl>dt>a>img{
	width: 200px;
}
.w .onelist .onelist_img>dl>dd{
	color: #999;
	font-size: 12px;
	line-height: 26px;
}
.w .onelist .onelist_img>dl>dd>a{
	color: #333;
	font-size: 12px;
}
.w .onelist .onelist_img>dl>dd>span{
	font-size: 12px;
	color: #FF7700;
}
.w .onelist .onelist_img>dl>dd>i{
	font-style: normal;
	font-size: 12px;
	display: inline-block;
	margin-left: 10px;
	text-decoration: line-through;
}
.w .onelist .onelist_img>dl>dd.clear{
	width: 180px;
	margin-left: 10px;
	line-height: 23px;
}
.w .onelist .onelist_img>dl>dd>b{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -134px -236px;
	width: 23px;
	height: 23px;
	margin-right: 5px;
}
.w .onelist .onelist_img>dl>dd>strong{
	font-weight: none;
	font-size: 12px;
	color: #FF7700;
}
.w .onelist .onelist_img>dl>dd.go{
	width: 180px;
	height: 30px;
	border-radius: 10px;
	border: none;
	margin: 10px 0 0 0;
	color: #fff;
	text-align: center;
	line-height: 30px;
	background-color: #b71d36;
	cursor: pointer;
}
/*快点抢    end*/

/*办公用品    start  */
.work{
	margin-top: 20px;
	height: 440px;
}
.work .bg{
	background-color: orange !important;
}
.work .bg1{
	background-color: hotpink !important;
}
.work .work_list{
	width: 172px;
	background-color: #1D7AD9;
	height: 440px;
	margin-right: 1px;
	position: relative;
}
.work .work_list .side{
	width: 16px;
	font-size: 18px;
	color: #fff;
	background: url(../img/index_img/whole.png) no-repeat -302px 0;
	height: 440px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 14px;	
}
.work .work_list .side>i{
	display: inline-block;
	font-style: normal;
	margin-top: 100px;
	font-size: 18px;
	color: #fff;
}
.work .work_list .side2{
	background: url(../img/index_img/whole.png) no-repeat -355px 0;
}
.work .work_list .side3{
	background: url(../img/index_img/whole.png) no-repeat -409px 0;
}
.work .work_list>ul{
	margin-right: 0;
}
.work .work_list>ul>li:first-of-type>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -203px -240px;
	width: 20px;
	height: 9px;
}
.work .work_list>ul>li:last-of-type>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -233px -240px;
	width: 20px;
	height: 9px;
}
.work .work_list>ul>li.current{
	background: url(../img/index_img/whole.png) no-repeat 0 -235px;
	width: 115px;
	height: 26px;
}
.work .work_list>ul>li.current>a{
	color: #1D7AD9;
}
.work .work_list>ul>li.current1>a{
	color: orange;
}
.work .work_list>ul>li.current2>a{
	color: hotpink;
}
.work .work_list>ul>li{
	width: 118px;
	line-height: 26px;
	text-align: center;
	margin: 13px 0;
}
.work .work_list>ul>li>a{
	color: #fff;
}
.work .work_img{
	width: 440px;
	height: 440px;
	position: relative;
}
.work .work_img>ul>li{
	position: absolute;
}
.work .work_product{
	width: 558px;
	height: 440px;
}
.work .work_product>dl{
/*	width: 178px;*/
	border: 1px solid #ddd;
	padding: 10px 14px;
}
.work .work_product>dl>dt{
	text-align: center;
}
.work .work_product>dl>dt>a>img{
	width: 155px;
}
.work .work_product>dl>dd{
	line-height: 20px;
}
.work .work_product>dl>dd>a{
	font-size: 12px;
	color: #666;
}
.work .work_product>dl>dd>span{
	color: #FF7700;
	font-size: 12px;
}

.two{
	margin-top: 20px;
}
.two>dl{
	width: 166px;
	margin-right: 36px;
	
}
.two>dl:last-of-type{
	margin-right: 0;
}
.two>dl>dt>a>img{
	width: 166px;
}
.two>dl>dt>dd{
	line-height: 30px;
}
.two>dl>dd>a{
	font-size: 12px;
	color: #666;
	line-height: 30px;	
}
.two>dl>dd>span{
	font-size: 12px;
	color: #FF7700;
}
/*办公用品    end  */
.last{
	margin-bottom: 30px;
}
