@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}

/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
		background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(2){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

/*banner start*/
.banner .sidebar{
	width: 198px;
	border: 1px solid #1d7ad9;
	border-top: none;
	background-color: #fff;
}
.sidebar .sidebar_con{
	padding: 18px 15px;
	border-bottom:1px solid #ddd;
}
.sidebar .sidebar_con>h3{
	line-height: 16px;
}
.sidebar .sidebar_con>h3>a{
	color: #1d7ad9;
	line-height: 16px;
	font-size: 16px;
}
.sidebar .sidebar_con>h3>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -242px 0;
	width: 6px;
	height: 8px;	
}
.sidebar .sidebar_con .sidebar_list{
	margin-top: 11px;
}
.sidebar_con .sidebar_list>a{
	display: inline-block;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	margin-right: 5px;
}
.sidebar_con .sidebar_list>a:hover{
	color: #ff7800;
}
.banner .banner_img{
	width: 755px;
	height: 353px;
	margin: 10px;
	position: relative;
	overflow: hidden;
}
.banner_img>ul{
	position: absolute;
	top: 0;
	left: 0;
}
.banner_img>ul>li{
	width: 755px;
	height: 353px;
	float: left;
}
.banner_img>ul>li>img{
	width: inherit;
	height: inherit;
}
.banner_img .items{
	position: absolute;
	bottom: 12px;
	right: 18px;
}
.banner_img .items>span{
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	float: left;
	margin-right: 10px;
}
.banner_img .items>span.current{
	background-color: #FF7700;
}
.banner .new_product>h3{
	font-size: 16px;
	font-weight: none;
	line-height: 16px;
	margin-top: 12px;
}
.banner .new_product>h3>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -140px -150px;
	width: 20px;
	height: 20px;
	padding-right: 5px;
}
.product_img{
	position: relative;
	width: 213px;
	height: 312px;
	overflow: hidden;
	margin-top: 18px;
}
.product_img>ul{
	width: 213px;
	height: 312px;
	border-top: 1px solid #ddd;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.product_img>ul>li{
	width: 213px;
	height: 312px;
	float: left;
}
.product_img>ul>li>a>img{
	width: inherit;
	height: inherit;
}
.product_img>div.items{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -75px;
}
.product_img>div.items>span{
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: #FF7700;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.product_img>div.items>span.current{
	background-color: #fff;
}
/*banner end*/

/*兑换专区   start*/
.title{
	margin-top: 15px;
}

.title .column>strong.duihuan{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -135px -111px;
	width: 28px;
	height: 31px;
	margin-right: 10px;
}
.title .column>span{
	display: inline-block;
	font-size: 18px;
	float: left;
	line-height: 31px;
	
}
.title .more>strong{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -185px -150px;
	width: 15px;
	height: 20px;
	margin-right: 5px;
}
.title .more>a:hover{
	color: #F15500;
}
.product{
	margin-top: 15px;
	border: 1px solid #ddd;
	border-top: 2px solid #9bb526;
	position: relative;
}

.product .productcon>dl{
	float: left;
	width: 193px;
	margin: 22px 20px 18px 22px;
}
.product .productcon>dl>dt>a>img{
	width: 193px;
	height: 193px;
}
.product .productcon>dl>dd{
	margin-top: 5px;
}
.product .productcon>dl>dd>a{
	font-size: 12px;
}
.product .productcon>dl>dd>i{
	color: #FF7700;
	font-style: normal;
}
.product .productcon>dl>dd>span>strong{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -218px 0;
	width: 18px;
	height: 16px;
	margin-right: 5px;
}
.product .clickyou{
	position: absolute;
	top: 132px;
	left: 0;
	background: url(../img/index_img/whole.png) no-repeat 0 -111px;
	width: 60px;
	height: 60px;
}
.product .clickzuo{
	position: absolute;
	top:132px;
	right: 0;
	background: url(../img/index_img/whole.png) no-repeat -65px -111px;
	width: 60px;
	height: 60px;
}
/*兑换专区   end*/

/*进入频道   start*/
.channel{
	margin-top: 15px;
}
.channel>dl{
	position: relative;
}
.channel>dl:first-of-type{
	margin-right:  3px;
}
.channel>dl>dt{
	width: 395px;
	height: 195px;
}
.channel>dl>dt>a>img{
	width: 395px;
	height: 195px;
}
.channel>dl>dd{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	padding: 5px 15px;
}
.channel>dl>dd>a{
	color: #fff;
}
/*进入频道   end*/

/*销量最多   start*/
.mostspan{
	margin-top: 10px;
}
.mostspan>span{
	display: inline-block;
	font-size: 18px;
	line-height: 50px;
	width: 100px;
	text-align: center;
}
.mostspan>span.current{
	color: #c10000;
	border-bottom:2px solid #c10000;
}
.mostproduct{
	border:1px solid #ddd;
}
.mostproduct>dl{
	width: 170px;
	padding: 13px;
	border:1px solid #ddd;
}
.mostproduct>dl>dt{
	text-align: center;
	margin-top: 18px;
}
.mostproduct>dl>dt>a>img{
		
	width: 150px;
	height: 150px;
}
.mostproduct>dl>dd{
	height: 26px;
	line-height: 26px;
}
.mostproduct>dl>dd>a{
	font-size: 12px;
}
.mostproduct>dl>dd>span{
	color: #FF7700;
}
/*销量最多   end*/

/*个人福利   start*/
.title1{
	margin-top: 15px;
}

.title1 .column>strong.personal{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat 0 -179px;
	width: 42px;
	height: 44px;
	margin-right: 10px;
}
.title1 .column>span{
	display: inline-block;
	font-size: 18px;
	float: left;
	line-height: 44px;
	
}
.title1 .more>strong{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -185px -150px;
	width: 15px;
	height: 20px;
	margin-right: 5px;
}
.title1 .more>a:hover{
	color: #F15500;
}

.personalWelfare{
	border:1px solid #ddd;
}
.personalLeft{
	
}
/*个人福利   end*/