@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}

/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
		background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(2){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

/*banner start*/
.banner .sidebar{
	width: 198px;
	border: 1px solid #1d7ad9;
	border-top: none;
	background-color: #fff;
	position: relative;
}
.sidebar .sidebar_con{
	padding: 10px 15px;
	border-bottom:1px solid #ddd;
}
.sidebar .sidebar_con>li{
	line-height: 16px;
	border-bottom: 1px solid #ddd;
}
.sidebar .sidebar_con>li>a{
	display: inline-block;
	width: 150px;
	color: #1d7ad9;
	line-height: 8px;
	font-size: 16px;
	padding: 15px 0;
}
.sidebar .sidebar_con>li>a>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -242px 0;
	width: 6px;
	height: 8px;	
}

.sidebar_con .sidebar_list>a{
	display: inline-block;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	margin-right: 5px;
	line-height: 25px;
}
.sidebar_con .sidebar_list>a:hover{
	color: #ff7800;
}
.sidebar .subnav{
	position: absolute;
	top: 0;
	left: 198px;
	width: 600px;
	z-index: 9999;
	border: #1D7AD9 solid 1px;
	background-color: #fff;
} 
.subnav .item{
	width: inherit;
	display: none;
}
.subnav .item .active{
	display: block;
}
.sidebar .subnav>dl>dt{
	float: left;
}
.sidebar .subnav>dl>dd{
	float: left;
}
.banner .banner_img{
	width: 755px;
	height: 353px;
	margin: 10px;
	position: relative;
	overflow: hidden;
}
.banner_img>ul{
	position: absolute;
	top: 0;
	left: 0;
}
.banner_img>ul>li{
	width: 755px;
	height: 353px;
	float: left;
}
.banner_img>ul>li>img{
	width: inherit;
	height: inherit;
}
.banner_img .items{
	position: absolute;
	bottom: 12px;
	right: 18px;
}
.banner_img .items>span{
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	float: left;
	margin-right: 10px;
}
.banner_img .items>span.current{
	background-color: #FF7700;
}
.banner .new_product>h3{
	font-size: 16px;
	font-weight: none;
	line-height: 16px;
	margin-top: 12px;
}
.banner .new_product>h3>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -140px -150px;
	width: 20px;
	height: 20px;
	padding-right: 5px;
}
.product_img{
	position: relative;
	width: 213px;
	height: 312px;
	overflow: hidden;
	margin-top: 18px;
}
.product_img>ul{
	width: 213px;
	height: 312px;
	border-top: 1px solid #ddd;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.product_img>ul>li{
	width: 213px;
	height: 312px;
	float: left;
}
.product_img>ul>li>a>img{
	width: inherit;
	height: inherit;
}
.product_img>div.items{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -75px;
}
.product_img>div.items>span{
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: #FF7700;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.product_img>div.items>span.current{
	background-color: #fff;
}
/*banner end*/

/*兑换专区   start*/
.title{
	margin-top: 15px;
}

.title .column>strong.duihuan{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -135px -111px;
	width: 28px;
	height: 31px;
	margin-right: 10px;
}
.title .column>span{
	display: inline-block;
	font-size: 18px;
	float: left;
	line-height: 31px;
	
}
.title .more>strong{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -185px -150px;
	width: 15px;
	height: 20px;
	margin-right: 5px;
}
.title .more>a:hover{
	color: #F15500;
}
.product{
	margin-top: 15px;
	border: 1px solid #ddd;
	border-top: 2px solid #9bb526;
	position: relative;
}

.product .productcon>dl{
	float: left;
	width: 193px;
	margin: 22px 20px 18px 22px;
}
.product .productcon>dl>dt>a>img{
	width: 193px;
	height: 193px;
}
.product .productcon>dl>dd{
	margin-top: 5px;
}
.product .productcon>dl>dd>a{
	font-size: 12px;
}
.product .productcon>dl>dd>i{
	color: #FF7700;
	font-style: normal;
}
.product .productcon>dl>dd>span>strong{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -218px 0;
	width: 18px;
	height: 16px;
	margin-right: 5px;
}
.product .clickyou{
	position: absolute;
	top: 132px;
	left: 0;
	background: url(../img/index_img/whole.png) no-repeat 0 -111px;
	width: 60px;
	height: 60px;
}
.product .clickzuo{
	position: absolute;
	top:132px;
	right: 0;
	background: url(../img/index_img/whole.png) no-repeat -65px -111px;
	width: 60px;
	height: 60px;
}
/*兑换专区   end*/

/*进入频道   start*/
.channel{
	margin-top: 15px;
}
.channel>dl{
	position: relative;
}
.channel>dl:first-of-type{
	margin-right:  3px;
}
.channel>dl>dt{
	width: 395px;
	height: 195px;
}
.channel>dl>dt>a>img{
	width: 395px;
	height: 195px;
}
.channel>dl>dd{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	padding: 5px 15px;
}
.channel>dl>dd>a{
	color: #fff;
}
/*进入频道   end*/

/*销量最多   start*/
.mostspan{
	margin-top: 10px;
}
.mostspan>span{
	display: inline-block;
	font-size: 18px;
	line-height: 50px;
	width: 100px;
	text-align: center;
}
.mostspan>span.current{
	color: #c10000;
	border-bottom:2px solid #c10000;
}
.mostproduct{
	border:1px solid #ddd;
}
.mostproduct>dl{
	width: 170px;
	padding: 13px;
	border:1px solid #ddd;
}
.mostproduct>dl>dt{
	text-align: center;
	margin-top: 18px;
}
.mostproduct>dl>dt>a>img{
		
	width: 150px;
	height: 150px;
}
.mostproduct>dl>dd{
	height: 26px;
	line-height: 26px;
}
.mostproduct>dl>dd>a{
	font-size: 12px;
}
.mostproduct>dl>dd>span{
	color: #FF7700;
}
/*销量最多   end*/

/*个人福利   start*/
.title1{
	margin-top: 15px;
}

.title1 .column>strong.personal{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat 0 -179px;
	width: 42px;
	height: 44px;
	margin-right: 10px;
}
.title1 .column>span{
	display: inline-block;
	font-size: 18px;
	float: left;
	line-height: 44px;
	
}
.title1 .more{
	margin-top: 10px;
}
.title1 .more>strong{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -185px -150px;
	width: 15px;
	height: 20px;
	margin-right: 5px;
}

.title1 .more>a:hover{
	color: #F15500;
}

.personalWelfare{
	border:1px solid #ddd;
	border-top: 2px solid #1D7AD9;
	margin-top: 10px;
	height: 485px;
}
.personalLeft{
	width: 250px;
	height: 485px;
	position: relative;
	overflow: hidden;
}
.personalLeft>ul{
	position: absolute;
	top: 0;
	left: 0;
}
.personalLeft>ul>li{
	width: 250px;
	height: 485px;
}
.personalLeft>ul>li>a>img{
	width: 250px;
	height: 485px;
}
.personalLeft .items{
	position: absolute;
	bottom: 27px;
	left: 70px;
}
.personalLeft .items>span{
	display: inline-block;
	width: 30px;
	height: 5px;
	background-color: #000;
	float: left;
	margin-right: 10px;
}
.personalLeft .items>span.current{
	background-color: #FF7700;
}
.personalCenter{
	width: 725px;
}
.personalCenter>dl{
	width: 155px;
	padding: 9px 12px;
	
}
.personalCenter>dl>dt{
	text-align: center;
}

.personalCenter>dl>dt>a>img{
	width: 160px;
	height: 160px;
}
.personalCenter>dl>dd>span{
	color: #FF7700;
}
.personalRight{
	width: 210px;
	border-left:1px solid #ddd ;
}
.personalRight>h4{
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	padding: 10px;
	color: #333;
}
.personalRight>h4>span{
	display: inline-block;
	float: left;
	background: url(../img/index_img/whole.png) no-repeat -50px -180px;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.personalRight>ul{
	text-align: center;
	padding: 5px 5px;
	border-bottom:1px dashed #ddd;
}
.personalRight>ul>li>a{
	font-size: 12px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	
}
.personalRight>ul>li>a>img{
	width: 130px;
	height: 130px;
}
.personalRight>dl{
	padding: 5px 10px;
	border-bottom:1px dashed #ddd ;
	
}
.personalRight>dl>dt{
	float: left;
	margin-right: 8px;
}
.personalRight>dl>dt>a>img{
	width: 52px;
}
.personalRight>dl>dd{
	float: left;
	line-height: 26px;
	font-size: 12px;
	color: #999;
}
.personalRight>dl>dd>a{
	font-size: 12px;
}
.personalRight>dl>dd>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -218px 0;
	width: 18px;
	height: 16px;
	margin-right: 5px;
}
/*个人福利   end*/
/*公司福利  start*/
.title1 .column>strong.company{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -83px -179px;
	width: 42px;
	height: 44px;
	margin-right: 10px;
}
.companyWelfare{
	border-top: 2px solid #ff7700 ;
}
.companyRight>h4>span{
	display: inline-block;
	float: left;
	background: url(../img/index_img/whole.png) no-repeat -132px -180px;
	width: 27px;
	height: 25px;
	margin-right: 10px;
}
/*公司福利  end*/

/*家庭福利  start*/
.title1 .column>strong.home{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -165px -179px;
	width: 42px;
	height: 44px;
	margin-right: 10px;
}
.homeWelfare{
	border-top: 2px solid #f5619c ;
}
.homeRight>h4>span{
	display: inline-block;
	float: left;
	background: url(../img/index_img/whole.png) no-repeat -213px -180px;
	width: 27px;
	height: 25px;
	margin-right: 10px;
}
/*家庭福利  end*/

/*特价专卖  start*/
.title1 .column1>strong.special{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -176px -111px;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}
.title1 .column1>span{
	display: inline-block;
	font-size: 18px;
	float: left;
	line-height: 36px;
}
.specialcon{
	margin-top: 10px;
	border-bottom:1px solid #ddd;
	border-top: 2px solid #aa73d1;
}	

.specialcon_left .leftconL{
	padding:10px 10px 32px 0;
	width: 220px;
}
.specialcon_left .leftconL>dl>dt{
	margin-top: 10px;
}
.specialcon_left .leftconL>dl>dt>a>img{
	width: 220px;
}
.specialcon_left .leftconL>dl>dd{
	line-height: 25px;
}
.specialcon_left .leftconL>dl>dd>a{
	display: inline-block;
	color: #666;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.specialcon_left .leftconL>dl>dd.zheqian{
	color: #999;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.specialcon_left .leftconL>dl>dd.zheqian>i{
	font-style: normal;
	font-size: 12px;
	text-decoration: line-through;
}
.specialcon_left .leftconL>dl>dd.zhehou>b{
	color: #666;
	font-size: 12px;
	float: left;
	font-weight: normal;
}
.specialcon_left .leftconL>dl>dd.zhehou>i{
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	float: left;
	color: #FF7700;
}
.specialcon_left .leftconL>dl>dd.zhehou>span{
	float: left;
	display: inline-block;
	width: 30px;
	height: 16px;
	font-size: 12px;
	text-align: center;
	background-color: #FF7700;
	margin-left: 10px;
	padding: 0 10px;
	color: #fff;
}

.specialcon_left .leftconL>dl>dd.ico>b>i{
	display: inline-block;
	font-size: 12px;
	background: url(../img/index_img/whole.png) no-repeat -254px 0;
	width: 14px;
	height: 11px;
	background-color: #FF7700;
	margin-right: 5px;
	margin-top: 5px;
}
.specialcon_left .leftconL>dl>dd.ico>span{
	float: left;
	display: inline-block;
	font-size: 12px;
	margin-left: 10px;
	color: #999;	
}
.specialcon_left .leftconL>dl>dd.ico>b{
	font-weight: none;
	display: inline-block;
	background-color: #FF7700;
	color: #fff;
	padding: 0 5px;
	
}

.specialcon_left .leftconL>dl>dd.ico>span>i{
	display: inline-block;
	font-size: 12px;
	background: url(../img/index_img/whole.png) no-repeat -218px 0;
	width: 18px;
	height: 16px;
	margin-right: 5px;
}
.specialcon_left .leftconR{
	width: 340px;
}
.specialcon_left .leftconR>dl{
	width: 147px;
	border:1px solid #ddd;
	padding: 0 10px;
}
.specialcon_left .leftconR>dl>dt{
	text-align: center;
	padding-top: 17px;
}
.specialcon_left .leftconR>dl>dt>a>img{
	width: 125px;
}
.specialcon_left .leftconR>dl>dd{

	font-size: 12px;
}
.specialcon_left .leftconR>dl>dd>span{
	color: #FF7700;
}
.specialcon_left .leftconR>dl.no{
	border-right: none !important;
}

/*特价专卖  end*/

/*底部广告条  start*/
.bottomadd{
	margin: 15px 0;
}
/*底部广告条  end*/

