@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}


/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
	background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(5){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

/*支付进程  start*/
.course{
	margin-top: 30px;
	text-align: right;
}
.tijiao{
	margin-top: 34px;	
}
.tijiao>dl{
	height: 50px;
}
.tijiao>dl>dt{
	width: 50px;
	height: 50px;
	margin-right: 20px;
}
.tijiao>dl>dt>img{
	width: inherit;
	height: inherit;
	vertical-align: middle;
}
.tijiao>dl>dd{
	/*border: 1px solid red;*/
	line-height: 20px;
	font-size: 12px;
	color: #666;
	
}
.tijiao>dl>dd:first-of-type{
	font-size: 14px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
}
.tijiao>dl>dd>span{
	font-size: 12px;
	color: #FF7700;
}
.meau{
	margin: 30px 0 0 70px;
}
.meau>p{
	line-height: 28px;
	font-weight: bold;
}
.meau>p>span{
	display: inline-block;
	width: 72px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background-color: #1D7AD9;
	font-size: 12px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.meau>p>b{
	color: #FF7700;
	font-size: 12px;
}
.meau>p>img{
	width: 163px;
	height: 48px;
	border: 1px solid #ddd;
}
.now{
	margin: 45px 0 37px 70px;
	width: 1012px;
	padding: 27px 0 32px 38px;
	border: 1px solid #ddd;
}
.now>table>tbody>tr{
	height: 40px;
	font-size: 12px;
	color: #666;
}
.now>table>tbody>tr>td>input[type = "tel"]{
	width: 245px;
	height: 24px;
}
.now>table>tbody>tr>td>input[type = "button"]{
	display: inline-block;
	padding: 5px 7px;
	font-size: 12px;
	color: #666;
	background-image: linear-gradient(to bottom,#ffffff,#f8f8f8);
	border: 1px solid #ddd;
	border-radius: 5px;
}
.now>table>tbody>tr>td>input[type = "text"]{
	width: 126;
	height: 24px;
}
.now>table>tbody>tr>td>a{
	display: inline-block;
	width: 91px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	background-color: #FF7700;
	font-size: 12px;
}
.warn{
	margin-top: 18px;
	width: 944px;
	background-color: #F2F2F2;
	padding: 18px 0 32px 26px;
}
.warn>h4{
	color: #666;
	line-height: 24px;
	font-weight: normal;
	
}
.warn>p{
	line-height: 24px;
	font-size: 12px;
	color: #666;
}
