@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 14px;
}
p{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}


/*nav  start*/
.nav{
	margin-top: 15px;
	background-color: #FF7700;
	height: 45px;
	line-height: 44px;
}
.nav .w>ul{
	position: relative;
}
.nav .w>ul>li{
	float: left;
	padding: 0 40px;
}
.nav .w>ul>li>a{
	color: #fff;
	font-size: 16px;
}
.nav .w>ul>li.current{
	background-color: #F15500;
}
.nav .w>ul>li:hover{
	background-color: #F15500;
}
.nav .w>ul>li:last-child{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 370px;
	top: 10px;
}
/*nav  end*/

/*banner start*/
.banner{
	width: 100%;
	height: 420px;
	margin-top: 10px;
}
.banner>ul>li>a>img{	
	width: 100%;
	height: 420px;
}
/*banner end*/

/*今日上新  start*/

.w>h4{
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}
.w>h4>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -200px -267px;
	width: 25px;
	height: 30px;
	margin-right: 5px;
}

.pictureLeft{
	margin-top: 10px;
	width: 900px;
}
.pictureLeft .one>ul>li{
	width: 440px;
	height: 440px;
	position: relative;
	float: left;
	margin-right: 20px;
	
}
.pictureLeft .one>ul>li:last-of-type{
	margin-right: 0;
}
.pictureLeft .one>ul>li>a>img{
	width: 440px;
	height: 440px;
}
.pictureLeft .one>ul>li>p{

	width: 440px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 12px;
	color:#fff;
	background: rgba(0,0,0,0.5);
	height: 28px;
	line-height: 28px;
	cursor: pointer;
}
.pictureLeft .one>ul>li>span{
	display: inline-block;
	position: absolute;
	top: 220px;
	left: 126px;
	background: rgba(255,255,255,0.5);
	height: 55px;
	line-height: 55px;
	padding: 0 18px;
	cursor: pointer;
}
.pictureLeft .one>ul>li>span>b{
	display: inline-block;
	font-size: 25px;
}
.two1{
	width: 900px;
	height: 216px;
	margin-top: 20px;
	position: relative;
}
.two1>ul>li{
	position: absolute;
	top: 0;
	left: 0;
}
.two1>ul>li>a>img{
	width: 900px;
	height: 216px;
}

.three>ul>li{
	width: 438px;
	height: 220px;
	position: relative;
	float: left;
	margin-right: 24px;
	margin-top: 20px;
	background: #ffecf6;
}
.three>ul>li.current{
	background: #7f7f7f;
}
.three>ul>li:nth-last-of-type(2n-1){
	margin-right: 0;
}
.three>ul>li>a>img{
	width: 438px;
	height: 190px;
}
.three>ul>li>a{
	display: inline-block;
	height: 190px;
}
.three>ul>li>p{
	height: 27px;
	line-height: 27px;
	padding: 0 30px;
	font-size: 12px;	
}
.three>ul>li.current>p{
	color: #fff;
}
.three>ul>li>p>i{
	float: right;
	font-style: normal;
	font-size: 12px;
}
.three>ul>li>span{
	display: inline-block;
	position: absolute;
	top: 73px;
	left: 151px;
	padding: 12px 20px;
	color: #fff;
	line-height: 11px;
	background: rgba(0,0,0,0.5);
	cursor: pointer;	
}
.three>ul>li>span>b{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -253px 0;
	width: 13px;
	height: 11px;
	margin-right: 5px;	
}
/*   left   end*/

.pictureRight{
	width: 246px;
	height: 500px;
	/*background: #086BD0;*/
	margin-top: 10px;
}

/*福利档案  start*/
.record{
	width: 246px;
	border:1px solid #ddd;
	height: 300px;
}
.record>h4,.hotWelfare>h4,.recommend>h4{
	font-weight: normal;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
.record>ul>li>a>img{
	width: 246px;
	height: 271px;
}
/*福利档案  end*/

/*最火福利   start*/
.hotWelfare{
	margin-top: 17px;
	border: #ddd solid 1px;	
	padding-bottom: 14px;
}
.hotWelfare>ul>li{
	width: 220px;
	margin-left: 13px;
	background: #fcf7eb;
	text-align: center;
	margin-top: 12px;
}
.hotWelfare>ul>li>a>img{
	width: 220px;
	height: 96px;
}
.hotWelfare>ul>li>p{
	height: 27px;
	line-height: 27px;	
	font-size: 12px;
}
/*最火福利   end*/

/*福利推荐   start*/
.recommend{
	margin-top: 19px;
	border: #ddd solid 1px;
	padding-bottom: 10px;
	
}
.recommend>dl{
	width: 210px;
	margin-left: 18px;
	margin-top: 15px;
}
.recommend>dl>dt{
	float: left;
}

.recommend>dl>dt>a>img{
	width: 75px;
}
.recommend>dl>dd{
	height: 20px;
	line-height: 20px;
	margin-bottom:20px ;
}
.recommend>dl>dd>a{
	font-size: 12px;
	color: #666;
}
.recommend>dl>dd:last-child{
	line-height: 11px;
	padding-top: 10px;
	color: #FF7700;
	margin-bottom: 0;
	cursor: pointer;
}
.recommend>dl>dd>span{
	float: left;
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -234px -271px;
	width: 13px;
	height: 11px;
	margin-right: 5px;
}
/*福利推荐   end*/



/*今日上新  end*/