@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}


/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
	background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(5){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

/*支付进程  start*/
.course{
	margin-top: 25px;
	text-align: right;
}

.goods{
	margin-top: 25px;
	color: #999;
}
.goods>a{
	font-size: 12px;
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 20px;
	color: #666;
	margin: 0 ;
	font-weight: normal;
}
.goods>a:hover{
	background-color: #333;
	color: #fff;
	border-radius: 5px;
}
.selected{
	margin-top: 18px;
	border: solid 1px #ddd;
}
