@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}

/*header start*/
.header{
	margin-top: 10px;
	line-height: 14px;
}
.header a:hover{
	color: red;
}
.headerLeft>p{
	margin-right: 10px;
	line-height: 14px;
}
.headerLeft>a{
	display: inline-block;
	width: 18px;
	height: 16px;
	margin-right: 5px;
}
.headerLeft>a.weibo{	
	background: url(../img/index_img/whole.png) no-repeat 0 0;
}
.headerLeft>a.tengxun{
	background: url(../img/index_img/whole.png) no-repeat -21px 0;
}
.headerLeft>a.weixin{
	background: url(../img/index_img/whole.png) no-repeat -40px 0;
	margin-right: 2px;
}
.headerLeft>span{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -143px 0;
	width: 6px;
	height: 4px;
    vertical-align: middle;
}

.headerRight>a{
	display: inline-block;
	margin-left: 10px;	

}
.headerRight>a:nth-of-type(2){
	margin-left: 0;
}
.headerRight>a>span{
	display: inline-block;
	margin-right: 3px;
	width: 14px;
	height: 14px;		
}

.headerRight>a>span.myOrder{
	background: url(../img/index_img/whole.png) no-repeat -64px 0;

}
.headerRight>a>span.collect{
	background: url(../img/index_img/whole.png) no-repeat -85px 0;
}
.headerRight>a>span.online{
	background: url(../img/index_img/whole.png) no-repeat -108px 0;
}
.headerRight>a>span.tel{
	background: url(../img/index_img/whole.png) no-repeat -127px 0;
}
/*header end*/

/*add start*/
.add{
	width: 100%;
	height: 70px;
	background-color: #df2b38;
	margin-top: 10px;
}
/*add end*/

/*top start*/
.top{
	margin-top: 15px;
}
.top .logo{
	width: 200px;
	height: 80px;
}
.top .search{
	margin-top: 10px;
	margin-left: 158px;
}
.top .search .search_form input[type="text"]{
	width: 385px;
	height: 40px;
	border: 1px solid #ff7700;
	padding-left: 10px;
	color: #999;
	font-size: 16px;
}
.top .search .search_form input[type="button"]{
	width: 95px;
	height: 42px;
	border: 0;
	background-color: #ff7700;
	color: #fff;
	font-size: 18px;
}
.top .search .list{
	margin-top: 10px;
}
.top .search .list>a{
	color: #666;
	display: inline-block;
	margin-right: 8px;
	font-size: 12px;
}
.top .search .list>a.current{
	color: #ff7700;
}
.top .shoppingCart{
	margin-left: 159px;
	background-color: #1d7ad9;
	height: 42px;
	line-height: 42px;
	margin-top: 10px;
}
.top .shoppingCart>span{
	display: inline-block;	
	font-size: 18px;
	color: #fff;
	text-align: center;
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	
}
.top .shoppingCart>span.cart_word{
	width: 117px;
	border-right:1px solid #0052a5;
}
.top .shoppingCart>span.cart_word>span.cart{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat -185px 0;
	width: 25px;
	height: 20px;
	padding-right: 5px;
}
.top .shoppingCart>span.cart_num{
	border-left:1px solid #4c9beb;
	width: 60px;
}

.top .online{
	float: right;
	width: 135px;
}
.top .online>a>img{
	width: 135px;
}
/*top end*/

/*footer start*/
.footertop{
	margin-top: 10px;
	background-color: #f5f5f5;
}
.footertop .w{
	padding: 33px 0;
}
.footertop .w>dl{
	margin-left: 90px;
}
.footertop .w>dl>dt{
	font-size: 16px;
	color: #333;
	line-height: 60px;
}
.footertop .w>dl>dt>span{
	float: left;
	display: inline-block;	
	width: 49px;
	height: 41px;
	margin-right: 10px;	
}
.footertop .w>dl>dt.one>span{
	background: url(../img/index_img/whole.png) no-repeat 0 -28px;
}
.footertop .w>dl>dt.two>span{
	background: url(../img/index_img/whole.png) no-repeat -62px -28px;
}
.footertop .w>dl>dt.three>span{
	background: url(../img/index_img/whole.png) no-repeat -120px -28px;
}
.footertop .w>dl>dt.four>span{
	background: url(../img/index_img/whole.png) no-repeat -177px -28px;
}
.footertop .w>dl>dt.five>span{
	background: url(../img/index_img/whole.png) no-repeat -233px -28px;
}
.footertop .w>dl>dd{
	height: 30px;
	line-height: 30px;
	padding-left: 59px;
}
.footertop .w>dl>dd>a:hover{
	color: #FF7700;
}
.footerbottom{
	padding: 15px 0;	
}
.footerbottom>p{
	text-align: center;
	color: #666;
	line-height: 30px;

}
.footerbottom>p>a{
	color: #666;
}
.footerbottom>p>a:hover{
	color: #FF7700;
}
/*footer end*/

/*返回顶部*/
ul.goback{
	position: fixed;
	right: 20px;
	bottom: 50px;
}
ul.goback>li{
	width: 45px;
	height: 45px;
	border: #ddd solid 1px;
	margin-top: 5px;
	background-color: #fff;
}
ul.goback>li>a>strong{
	display: inline-block;
	background: url(../img/index_img/whole.png) no-repeat 0 -75px;
	width: 24px;
	height: 24px;
	font-size: 12px;
	margin: 12px 0 0 12px;
}
ul.goback>li.gocar>a>strong{
	background: url(../img/index_img/whole.png) no-repeat -32px -75px;	
}
ul.goback>li.help>a>strong{
	background: url(../img/index_img/whole.png) no-repeat -69px -75px;	
}
ul.goback>li.contact>a>strong{
	background: url(../img/index_img/whole.png) no-repeat -105px -75px;	
}
ul.goback>li>a>span{
	display: inline-block;
	font-size: 12px;
	color: #FF7700;
	line-height: 16px;
	padding: 8px 7px;
	text-align: center;
	display: none;
}
ul.goback>li:hover>a>strong{
	display: none;
}
ul.goback>li:hover>a>span{
	display: block;
}
