@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}
a img{
	border: 0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1190px;
	margin: 0 auto;
}


/*nav start*/
.nav{
	margin-top: 10px;
	height: 44px;
	background-color: #ff7700;	
}
.nav>ul{
	position: relative;
}
.nav>ul>li{
	float: left;

}
.nav>ul>li:hover{
	background-color: #f15500;
}
.nav>ul>li>a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding: 0 35px;
	font-weight: bold;
	text-align: center;
}
.nav>ul>li:first-of-type{
	background-color: #1d7ad9;
	width: 200px;
}
.nav>ul>li:nth-of-type(6){
	background-color: #f15500;
}
.nav>ul>li:last-of-type{
	background: url(../img/index_img/whole.png) no-repeat -154px 0;
	width: 25px;
	height: 14px;
	padding: 0;
	position: absolute;
	right: 225px;
	top: 10px;		
}
/*nav end*/

.title{
	margin-top: 16px;
	font-size: 12px;	
}
.title>a{
	font-size:12px;
	color: #1D7AD9;
}
.product{
	margin-top: 20px;
}
.product .productImg{
	width: 402px;
	height: 400px;
	/*background-color: red;*/
	position: relative;
}
.productImg .item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.productImg .fangda{
	position: absolute;
	top: 0;
	left: 401px;
	/*border: 1px solid blue;*/
	width: 400px;
	height: 400px;
	display: none;
}
.bigimg{
	width: 400px;
	height: 400px;
	border: 1px solid #ddd;
}
.bigimg>img{
	width: 400px;
	height: 400px;
}
.smallimg{
	margin-top: 8px;
	position: relative;
}
.clickleft{
	line-height: 75px;
	font-size: 26px;
	color: #999;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}
.clickright{
	line-height: 75px;
	font-size: 26px;
	color: #999;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}
.smallimg>ul{
	padding: 0 35px;
	/*border: 1px solid blue;*/
}
.smallimg>ul>li{
	float: left;
	margin-right: 10px;	
	border: 1px solid  #ddd;
}
.smallimg>ul>li.current{
	border-color:#FF7700 ;
}
.smallimg>ul>li:last-child{
	margin-right: 0;
}
.smallimg>ul>li>img{
	width: 75px;
	height: 75px;
}
.product .describe{
	width: 752px;
	height: 490px;
	/*background-color: deepskyblue;*/
}

.describe>p.title1>a{
	color: #333;
	line-height: 24px;	
}
.describe>p.detail{
	color: #ff7700;
	font-size: 16px;
	line-height: 24px;
}
.describe>p.market{
	color: #999;
	font-size: 12px;
	text-indent: 2em;
	margin-top: 20px;
}
.describe>p.market>span{
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
}
.describe>p.zanli{
	margin-top: 20px;
	font-size: 12px;
	color: #666;
	text-indent: 2em;
	line-height: 34px;
}
.describe>p.zanli>input{
	width: 114px;
	height: 34px;
	border: 1px solid #ddd;
	color: #FF7700;
	font-size: 18px;
	background-color: #fff;
}
.describe>p.zanli>b{
	color: #FF7700;
	font-size: 18px;
	font-weight: normal;
}
.describe>p.prompt{
	margin-top: 20px;
	font-size: 12px;
	color: #1D7AD9;
}
.describe>p.prompt>strong{
	display: inline-block;
	width: 61px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	background-color: #ff7700;
	color: #fff;
	font-weight: normal;
}
.describe>dl.color{
	margin-top: 20px;
}
.describe>dl.color>dt,.describe>dl.edition>dt,.describe>dl.memory>dt,.describe>dl.num>dt{
	color: #666;
	font-size: 12px;
	margin-right: 12px;
}
.describe>dl.color>dd>a{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border: 1px solid #ddd;
}
.describe>dl.color>dd>a.current,.describe>dl.edition>dd>a.current,.describe>dl.memory>dd>a.current{
	border-color: #FF7700;
}
.describe>dl.color>dd>a>img{
	width: 50px;	
}
.describe>dl.edition{
	margin-top: 14px;	
}
.describe>dl.edition>dd{
	width: 495px;
}
.describe>dl.edition>dd>a,.describe>dl.memory>dd>a{
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	font-size: 12px;
	color: #666;
	border: 1px solid #dedede;
	margin-right:6px;
	margin-bottom: 10px;	
}
.describe>dl.num>dd{
	font-size: 12px;
	color: #666;
	/*border: 1px solid red;*/
	line-height: 21px;
}
.describe>dl.num>dd>span{
	display: inline-block;
	width: 17px;
	height: 21px;
	float: left;
	margin-right: 5px;
}
.describe>dl.num>dd>span.jian{
	background: url(../img/ico/whole.png) no-repeat -147px -271px;
}
.describe>dl.num>dd>span.jia{
	background: url(../img/ico/whole.png) no-repeat -174px -271px;	
}
.describe>dl.num>dd>span.num1{
	display: inline-block;
	border: 1px solid #dedede;
	width: 34px;
	height: 18px;
	color: #570087;
	font-size: 12px;
	margin-top: 0;
	text-align: center;
	line-height: 18px;
}
.describe>dl.num>dd>i{
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #1D7AD9;
}
